.profilePage {
    max-width: 420px;
    margin: 32px auto;
    padding: 24px;
}

@media (max-width: 767px) {
    .profilePage {
        margin: 16px auto;
        padding: 16px;
    }
}
.profilePage_inner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}
.data {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 32px;
}
.password {
    display: flex;
    flex-direction: column;
    gap: 12px;
    
}